apiextensions-apiserver
crictl
crictl-*-linux-*.tar.gz
helm
helm-*-linux-*.tar.gz
kube-aggregator
kube-apiserver
kube-apiserver.docker_tag
kube-apiserver.tar
kube-controller-manager
kube-controller-manager.docker_tag
kube-controller-manager.tar
kube-proxy
kube-proxy.docker_tag
kube-proxy.tar
kube-scheduler
kube-scheduler.docker_tag
kube-scheduler.tar
kubeadm
kubectl
kubectl-convert
kubelet
kubernetes-server-linux-*-*.tar.gz
mounter
/*/**/LICENSE
/*/**/NOTICE
